# Python
__pycache__/
*.py[cod]
*$py.class
venv/
venv312/
.env
.env.example
*.mp3
*.mp4
*.png
*.gif

# App Specific
storage/
temp/
media/
job_response.json
job_status.json
pip_list.txt

# OS
.DS_Store
Thumbs.db
